
$font-follow: "Barlow", sans-serif;
$header-height: 25vh;
$body-font: "Montserrat", sans-serif;
$second-font: "Dancing Script", cursive;
$list-font-size: 1.25rem;
$small-font-size: 0.813rem;
$font-semi-bold: 600;
$z-tooltip: 10;
$z-fixed: 100;
$color-white1: #DBDBD8;
$color-white2: #c7c3bd;
$color-wichblack: #0B0E13;
$color-night: #131313;
$color-khaki: #C8B095;

