/* Main.css */

html{
    margin: 0;
    padding: 0; 
}

.carousel {
  max-height: auto; 
}

.main-content {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorcer */
}