* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

:root {
  --font-follow: "Barlow", sans-serif;;
  --header-height: 3rem;
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --list-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --color-white1: #DBDBD8;
  --color-white2: #c7c3bd;
  --color-wichblack: #0B0E13;
  --color-night: #131313;
  --color-khaki: #C8B095;

}




ul {
 list-style: none;
}

a {
 text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  

  .follow-insta{
    background-color: black;
    color: var(--color-white1);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: var(--font-follow);
    padding: 10px;
    font-size: 1.2rem;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    margin: 3rem;


    .nav__menu{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  
    }

    .nav__logo{
      position: relative;
      height: fit-content;

      img{
        width: 6.2rem;
      }
    }

    .nav__list{
      display: flex;
      justify-content: center;
      gap: 5rem;
      width: 80vw;
      font-weight: 500;
      font-size: var(--list-font-size);
      font-family: var(--body-font);
      
      
    }

    .nav__link{
      text-decoration: none;
      color: var(--color-night);
    }


    .div_icons{
      display: flex;
      list-style: none;
      font-size: 1.5rem;
      gap: 1rem;

      
      .nav__icons{
        text-decoration: none;
        color: var(--color-night);
      }
    }


  }
}