

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

:root {
  --font-follow: "Barlow", sans-serif;;
  --header-height: 3rem;
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --list-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
  --color-white1: #DBDBD8;
  --color-white2: #c7c3bd;
  --color-wichblack: #0B0E13;
  --color-night: #131313;
  --color-khaki: #C8B095;

}

.custom-navbar {
  background-color: transparent !important;
}


.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;

  .follow-insta {
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Barlow", sans-serif;
    padding: 5px;
    font-size: 1.2rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
    background-color: transparent;
    

    .navbar-brand {
      flex: 1;

      img {
        width: 6.2rem;
      }
    }

    .navbar-nav {
      display: flex;
      flex: 1;
      justify-content: center;
    

      .nav-item {
        margin-left: 2rem;

        .nav-link {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          color: var(--color-wichblack);
          font-size: 1.25rem;

          &:hover {
            color: var(--color-khaki);
          }
        }
      }
    }

    .navbar-icons {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      .nav-item {
        margin-left: 1rem;

        .nav-link {
          font-size: 1.5rem;
          color: var(--color-night);

          &:hover {
            color: var(--color-khaki);
          }
        }
      }
    }
  }
}



@media screen and (max-width: 1150px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 1rem;
    align-items: center
  }
}