* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

:root {
 --header-height: 3.5rem;
 --body-font: "Montserrat", sans-serif;
 --second-font: "Dancing Script", cursive;
 --h2-font-size: 1.25rem;
 --small-font-size: 0.813rem;
 --font-semi-bold: 600;
 --z-tooltip: 10;
 --z-fixed: 100;
}


ul {
 list-style: none;
}

a {
 text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);

  .follow-insta{
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: var(--header-height);
    margin: 1rem;


    .nav__logo{
      img{
        
        width: 5rem;
      }
    }

    .nav__list{

      display: flex;
      gap: 5rem;
    }

  }
}